@model FerrumChromeDev.Models.ContactModel
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script src="~/Scripts/bootstrap.js"></script>
<div class="container">
   
    <br/>
    <div class="row">
      @if(Model.FirstName != null)
      {

    <div class="container" style="height:300px;width:300px">
        <div class="row">
            <label style="margin-top:10px;margin-bottom:0px">Incomming CALL </label>
            <hr />
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="row">
                        <span class="fa fa-phone-square fa-4x" />
                    </div>
                   

                </div>
                <div class="col-md-6" style="margin-left:5px">
                    <div class="row">
                        <span style="color:#CCDEE2">@Model.FirstName @Model.LastName</span>
                    </div>
                    <div class="row">
                        <label style="color:lightgray">Callinize-Support</label>
                    </div>
                    <div class="row">
                        <label style="color:darkblue">@Model.Phone</label>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary">Lead</button>
                    </div>

                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
        <div class="row">
            <hr style="border-top: dotted 1px;" />
        </div>
        <br />
        <div class="row" style="background-color:#DFEFFF">
            <div class="col-md-12">
                <div class="col-md-9" style="margin-top:6px;margin-bottom:6px">
                    <input type="text" placeholder="Click here to add notes" class="form-control" />
                </div>
                <div class="col-md-3" style="margin-top:6px">
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </div>
            </div>
        </div>
    </div>
      }
      else
      {

        <div class="container" style="height:300px;width:300px">
            <div class="row">
                <label style="margin-top:10px;margin-bottom:0px">Incomming CALL </label>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="row">
                            <span class="fa fa-phone-square fa-4x" />
                        </div>
                        <div class="row">
                            <a href="http://localhost:2154/Home/AddContact?CallerID=@Model.Phone">Create</a>
                        </div>

                    </div>
                    <div class="col-md-6" style="margin-left:5px">
                        <div class="row">
                            <span style="color:#CCDEE2">No User</span>
                        </div>
                        <div class="row">
                            <label style="color:lightgray">Callinize-Support</label>
                        </div>


                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
            </div>
            }

        </div>

    </div>
