@model FerrumChromeDev.Models.ServiceTicketModel
@{
    ViewBag.Title = "AddNewServiceTicket";
}

<h3>Quick Ticket - New Service Ticket Entry</h3>
@using(Html.BeginForm())
{ 
   
    <div class="form-group">
        <label for="exampleInputPassword1">Contact :</label>
        @Html.TextBoxFor(m => m.contactno, new { @class = "form-control" ,@disabled="true" })
       
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Service Board :</label>
        <select class="form-control">
            <option>Default select</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Summary :</label>
        @Html.TextBoxFor(m => m.tktSummary, new { @class = "form-control" ,placeholder="{Summary Description}" })
        
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Notes :</label>
        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })


       
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
}

